// Main colors
$color-main-dark-blue: #1a212b;
$color-main-mid-blue: #232a34;
$color-accent-green: #22d56d;
$color-accent-yellow: #fca92c;
$color-text-sub: #6b7082;
$color-btn-sub: #30373f;
$color-border: #303741;
